html, body {
    font-family: Bradley Hand, cursive;
    margin: 0;
}

body {
    flex-direction: column;
}

.main {
    width: 100%;
    box-sizing: border-box;
    margin: 70px auto 70px auto;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    flex: 0 0 auto;
    position: fixed;
    border-bottom: black solid 2px;
    height: 70px;
    width: 100%;
    z-index: 2;
}

.flex {
    display: flex;
}

.title {
    font-size: 3em;
    margin: auto;
}

.error{
    font-size: 8em;
    color: #d50523;
    margin: auto;
}

.erorIMG{
    margin: auto;
    width: 450px;
    height: 250px;
}

.return{
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.returnTitle{
    font-size: 1.5em;
    margin-right: 5%;
}

.returnLink{
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    border-top: black solid 2px;
    font-size: 1.3em;
    background: white;
    height: 30px;
    margin-top: 3%;
}